"*":
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
    ]
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "git-blame-plus"
    ]
    projectHome: "/Users/Browning/Programs"
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles:
      eol: " "
      space: " "
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "d9a613a9-e47f-edfa-dc48-9868294a23ba"
  "git-blame-plus": {}
  "jscs-fixer": {}
  linter:
    showErrorTabProject: false
    subtleLinterErrors: [
      "pep8"
    ]
  "linter-eslint":
    globalNodePath: "/opt/nodes/4.2.4"
    useGlobalEslint: true
  "linter-jscs":
    esnext: true
    fixOnSave: true
    onlyConfig: true
  "linter-pep8":
    ignoreErrorCodes: [
      "E501"
    ]
    pep8ExecutablePath: "/opt/boxen/pyenv/shims/pep8"
  "linter-pylint":
    executable: "/opt/boxen/pyenv/shims/pylint"
    messageFormat: "%i (%s): %m"
    rcFile: ".pylintrc"
  "markdown-preview": {}
  minimap: {}
  "project-manager":
    closeCurrent: true
  tabs:
    showIcons: true
    usePreviewTabs: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".puppet.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    autoIndentOnPaste: false
