packages: [
  "atom-alignment"
  "atom-beautify"
  "autoclose-html"
  "highlight-selected"
  "jscs-fixer"
  "language-puppet"
  "linter"
  "linter-eslint"
  "linter-flow"
  "linter-jscs"
  "linter-jsonlint"
  "linter-pep8"
  "linter-pylint"
  "minimap"
  "open-recent"
  "package-sync"
  "Parinfer"
  "project-manager"
  "Sublime-Style-Column-Selection"
  "sort-lines"
]
