boxen:
  title: "boxen"
  paths: [
    "/Users/Browning/Programs/Boxen"
  ]
api:
  title: "api"
  paths: [
    "/Users/Browning/Programs/modustri/hde/server/api"
  ]
hde:
  title: "hde"
  paths: [
    "/Users/Browning/Programs/modustri/hde"
  ]
web:
  title: "web"
  paths: [
    "/Users/Browning/Programs/modustri/hde/clients/web"
  ]
"web-e2e":
  title: "web-e2e"
  paths: [
    "/Users/Browning/Programs/modustri/hde/tests/web"
  ]
"atom-config":
  title: "atom-config"
  paths: [
    "/Users/Browning/Programs/atom-config"
  ]
"api-e2e":
  title: "api-e2e"
  paths: [
    "/Users/Browning/Programs/modustri/hde/tests/api"
  ]
ios:
  title: "ios"
  paths: [
    "/Users/Browning/Programs/modustri/hde/clients/ios"
  ]
gitman:
  title: "GitMan"
  paths: [
    "/Users/Browning/Programs/gitman"
  ]
"template-python":
  title: "template-python"
  paths: [
    "/Users/Browning/Programs/template-python"
  ]
memegen:
  title: "MemeGen"
  paths: [
    "/Users/Browning/Programs/memegen"
  ]
"heroku-buildpack-ember-cli":
  title: "heroku-buildpack-ember-cli"
  paths: [
    "/Users/Browning/Programs/heroku-buildpack-ember-cli"
  ]
yorm:
  title: "YORM"
  paths: [
    "/Users/Browning/Programs/yorm"
  ]
"move-shows":
  title: "move-shows"
  paths: [
    "/Users/Browning/Drive/Scripts/Move_TV_Shows"
  ]
dropthebeat:
  title: "DropTheBeat"
  paths: [
    "/Users/Browning/Programs/dropthebeat"
  ]
mine:
  title: "mine"
  paths: [
    "/Users/Browning/Programs/mine"
  ]
"votestakes-site":
  title: "votestakes-site"
  paths: [
    "/Users/Browning/Programs/votestakes-site"
  ]
"votestakes-app":
  title: "votestakes-app"
  paths: [
    "/Users/Browning/Programs/votestakes-app"
  ]
grparks:
  title: "grparks"
  paths: [
    "/Users/Browning/Programs/citizenlabs/grparks"
  ]
reports:
  title: "reports"
  paths: [
    "/Users/Browning/Programs/modustri/hde/shared/reports"
  ]
info:
  title: "jacebrowning.info"
  paths: [
    "/Users/Browning/Programs/jacebrowning.info"
  ]
"pytest-expecter":
  title: "pytest-expecter"
  paths: [
    "/Users/Browning/Programs/pytest-expecter"
  ]
"coverage.space":
  title: "The Coverage Space"
  paths: [
    "/Users/Browning/Programs/coverage.space"
  ]
"flask-api":
  title: "flask-api"
  paths: [
    "/Users/Browning/Programs/flask-api"
  ]
sync:
  title: "sync"
  paths: [
    "/Users/Browning/Programs/modustri/hde/server/sync"
  ]
dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/Browning/Programs/dotfiles"
  ]
"coverage.space-cli":
  title: "The Coverage Space (CLI)"
  paths: [
    "/Users/Browning/Programs/coverage.space-cli"
  ]
"hde-data":
  title: "hde-data"
  paths: [
    "/Users/Browning/Programs/modustri/hde/server/data"
  ]
gridcommand:
  title: "GridCommand"
  paths: [
    "/Users/Browning/Programs/gridcommand"
  ]
"hde-metrics":
  title: "hde-metrics"
  paths: [
    "/Users/Browning/Programs/modustri/hde-metrics"
  ]
"hde-status":
  title: "hde-status"
  paths: [
    "/Users/Browning/Programs/modustri/hde/status"
  ]
doorstop:
  title: "doorstop"
  paths: [
    "/Users/Browning/Programs/doorstop"
  ]
mctweetyface:
  title: "mctweetyface"
  paths: [
    "/Users/Browning/Programs/mctweetyface"
  ]
teamrank:
  title: "teamrank"
  paths: [
    "/Users/Browning/Programs/teamrank"
  ]
sappy:
  title: "sappy"
  paths: [
    "/Users/Browning/Programs/sappy"
  ]
etisonstyleguide:
  title: "Etison Style Guide"
  paths: [
    "/Users/Browning/Programs/etison/components/style-guide"
  ]
mothership:
  title: "Mothership"
  paths: [
    "/Users/Browning/Programs/etison/components/mothership"
  ]
mothershipmigration:
  title: "Mothership Migration"
  paths: [
    "/Users/Browning/Programs/etison/components/mothership-migration"
  ]
etisoninfrastructure:
  title: "Etison Infrastructure"
  paths: [
    "/Users/Browning/Programs/etison/components/infrastructure"
  ]
etisonkaizen:
  title: "Etison Kaizen"
  paths: [
    "/Users/Browning/Programs/etison/components/kaizen"
  ]
christgen:
  title: "Christgen"
  paths: [
    "/Users/Browning/Programs/christgen"
  ]
lunchdown:
  title: "Lunchdown"
  paths: [
    "/Users/Browning/Programs/lunchdown"
  ]
etison:
  title: "Etison"
  paths: [
    "/Users/Browning/Programs/etison"
  ]
etisonconfigurationapi:
  title: "Etison Configuration API"
  paths: [
    "/Users/Browning/Programs/etison/components/configuration-api"
  ]
etisonbackpackweb:
  title: "Etison Backpack Web"
  paths: [
    "/Users/Browning/Programs/etison/components/backpack-web"
  ]
"maketested.com":
  title: "maketested.com"
  paths: [
    "/Users/Browning/Programs/maketested.com"
  ]
"template-ruby":
  title: "template-ruby"
  paths: [
    "/Users/Browning/Programs/template-ruby"
  ]
