boxen:
  title: "boxen"
  paths: [
    "/Users/Browning/Programs/Boxen"
  ]
api:
  title: "api"
  paths: [
    "/Users/Browning/Programs/modustri-api"
  ]
system:
  title: "system"
  paths: [
    "/Users/Browning/Programs/modustri-hde"
  ]
web:
  title: "web"
  paths: [
    "/Users/Browning/Programs/modustri-hde-web"
  ]
"web-e2e":
  title: "web-e2e"
  paths: [
    "/Users/Browning/Programs/modustri-hde-web/gdm_sources/e2e"
  ]
"atom-config":
  title: "atom-config"
  paths: [
    "/Users/Browning/Programs/atom-config"
  ]
"api-e2e":
  title: "api-e2e"
  paths: [
    "/Users/Browning/Programs/modustri-api-e2e"
  ]
ios:
  title: "ios"
  paths: [
    "/Users/Browning/Programs/modustri-hde-ios"
  ]
gdm:
  title: "GDM"
  paths: [
    "/Users/Browning/Programs/GDM"
  ]
"template-python":
  title: "template-python"
  paths: [
    "/Users/Browning/Programs/template-python"
  ]
memegen:
  title: "MemeGen"
  paths: [
    "/Users/Browning/Programs/MemeGen"
  ]
"heroku-buildpack-ember-cli":
  title: "heroku-buildpack-ember-cli"
  paths: [
    "/Users/Browning/Programs/heroku-buildpack-ember-cli"
  ]
swagger:
  title: "swagger"
  paths: [
    "/Users/Browning/Programs/modustri-swagger"
  ]
yorm:
  title: "YORM"
  paths: [
    "/Users/Browning/Programs/YORM"
  ]
"move-shows":
  title: "move-shows"
  paths: [
    "/Users/Browning/Drive/Scripts/Move_TV_Shows"
  ]
